footer{
    display: flex;
    flex-direction: column;
}
footer a{
    text-decoration: none;
}
.upper-footer{
    background-color: #6b6054;
    display: flex;
    gap: 5vw;
    padding: 2vw;
    align-items: center;
}

.upper-footer h4{
    font-size: 3vw;
    margin-left: 5vw;
}

.icon-box{
    margin-left: 2vw;
}

svg{
    margin: 3vw;
}

.left-box{
    width: 20vw;
    margin-top: 1vw;
    margin-left: 1vw;
}

.left-box h3{
    font-size: 1.5vw;
}

.right-box{
    margin-left: auto;
    display: flex;
    margin-right: 5vw;
    gap: 1vw;
}

.right-box ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    margin: 0;
}

li h4{
    margin-bottom: 0;
}
.right-box li{
    list-style: none;
}

.right-box a{
    text-decoration: none;
    color: black;
}
.middle-footer{
    background-color: #837b6b;
}

.middle-footer-flex{
    display: flex;
    margin: 6vw;
    margin-top: 2vw;
}

.lower-footer{
    display: flex;
    gap: 1vw;
    background-color: #9b9581;
    padding: 2vw;
}

.lower-footer p{
    margin-left: 6vw ;
}

.move-right{
    margin-left:auto ;
}

.move-left{
    margin-right: 6vw;
}

@media screen and (max-width: 900px) {
 
    .upper-footer {
        display: block;
        text-align: center;
    }

    .upper-footer h4{
        font-size: 10vw;
    }

    .middle-footer{
        margin-top: 5vw;
    }

    .middle-footer ul{
        margin: 0 5vw;
    }
    .middle-footer-flex{
        display: block;
    }

    .left-box{
        width: 100%;
        text-align: center;
        margin: 5vw 0;
    }

    .left-box h3{
        font-size: 100%;
    }

    .right-box{
     display: flex;
     justify-content: center;
    }
}